@font-face {
    font-family: "0xProto";
    src: url("../fonts/0xProtoNerdFont-Regular.ttf") format('truetype');
}
html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    background-color: #000000
}
.game, .dropbox {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gamecanvas {
    width: 100%;
    height: 80%;
}
.sel_container {
    display: flex;
    text-align: center;
    place-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
.gameselector {
    display:inline;
    width: 80%;
    height: 25%;
    background-color: #000000;
    border-radius: 15px;
    border-color: #ffffff;
    border-width: medium;
    color: #ffffff;
    font-family: "0xProto";
    font-size: 15pt;

}

.gameselector:focus {
    outline-width: 0;
}

.gamecanvas:focus {
    outline-width: 0;
}

.gameselector::placeholder {
    color: #666666;
}