name: OmniCom Python Wheel

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    if: contains(github.event.head_commit.message, 'python version')
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          check-latest: true

      - if: matrix.os == 'ubuntu-latest'
        name: Install build dependencies Linux
        run: |
          echo "CIBW_SKIP=pp*" >> $GITHUB_ENV

      - if: matrix.os != 'Linux'
        name: Install build dependencies not Linux
        shell: bash
        run: |
          echo "CIBW_SKIP=pp*" >> $GITHUB_ENV
    
      - name: Build wheels
        run: |
          pip install wheel pip setuptools==70.0.0 cibuildwheel==2.18.1
          cibuildwheel --output-dir dist

      - name: Upload wheels to PyPI
        if: github.event_name == 'push' && contains(github.event.head_commit.message, 'python version')
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          python -m pip install twine
          twine upload --skip-existing --verbose dist/*